@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Playfair Display', serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */
/* orange: ED7C36 */
/* blue: 264B92 */

body {
  height: 1000vh;
  color: white;
}

.container {
  display: block;
  margin: 0px 100px 0px 100px;
  padding: 0px;
  position: relative;
}