/* Imports */
@import '../main.css';
/* Colors */
.fade-in {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1s ease;
}
.fade-in.appear {
  opacity: 1;
  transform: translateY(0px);
}

.fade-left {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;
}
.fade-left.appear {
  opacity: 1;
  transform: translateX(0px);
}

.fade-right {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease;
}
.fade-right.appear {
  opacity: 1;
  transform: translateX(0px);
}

/* Menu Start */
.menu {
  display: block;
  position: relative;
  height: 100vh;
  z-index: 9;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url(../../images/bg.svg);
  position: absolute;
  background-size: cover;
}
.bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 90%;
}

.menu-flex {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
}
.logo:hover {
  cursor: pointer;
}
.logo .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.logo .text .title-logo {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  color: #264B92;
}
.logo .text .subtitle-logo {
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  font-weight: medium;
  font-size: 12px;
  color: #ED7C36;
}

.list {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}
.list .list-items {
  display: flex;
  flex-direction: row;
}
.list .list-items .item {
  margin-left: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: medium;
  font-size: 24px;
}
.list .list-items .item::after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 0px 12.5px 0px 12.5px;
  position: absolute;
  z-index: 11;
  transform: translateY(5px);
  border-radius: 50%;
  background-color: #ED7C36;
}
.list .list-items .item:last-of-type:after {
  display: none;
}
.list .list-items .item a {
  margin-left: 25px;
  color: white;
  transition: all 250ms ease-in;
}
.list .list-items .item a:hover {
  color: #ED7C36;
}

.welcome {
  margin: 80px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome .title {
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin: 0px 0px 80px 0px;
}
.welcome .title::after {
  content: "";
  position: absolute;
  z-index: 11;
  width: 250px;
  height: 4px;
  background-color: #ED7C36;
  transform: translateX(-333px);
  margin: 70px 0px 0px 0px;
}
.welcome .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 26px;
  font-weight: medium;
  text-align: center;
  color: white;
  margin: 0px 0px 80px 0px;
}
.welcome .btn {
  position: relative;
  overflow: hidden;
  transition: 0.6s all ease;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 800;
  text-align: center;
  padding: 10px 15px 10px 15px;
  background-color: #264B92;
  border: none;
}
.welcome .btn::before {
  content: "";
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.6s all ease;
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.welcome .btn:hover {
  cursor: pointer;
  color: #264B92;
}
.welcome .btn:hover::before {
  height: 440%;
}

.pg {
  display: flex;
  width: 50%;
}

/* Menu end */
/* Cards Section Start */
.cards-wrapper {
  margin: 80px 0px 80px 0px;
  text-align: center;
  /* Card */
}
.cards-wrapper .card-starter {
  margin: 0px 0px 80px 0px;
}
.cards-wrapper .title {
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: bold;
  color: #264B92;
  margin: 0px 0px 10px 0px;
}
.cards-wrapper .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;
}
.cards-wrapper .btn {
  position: relative;
  overflow: hidden;
  transition: 0.6s all ease;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #264B92;
  font-weight: 800;
  text-align: center;
  padding: 10px 55px 10px 55px;
  background-color: #ED7C36;
  border: none;
  margin: 50px 0px 0px 0px;
}
.cards-wrapper .btn::before {
  content: "";
  background: #264B92;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.6s all ease;
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.cards-wrapper .btn:hover {
  cursor: pointer;
  color: #ED7C36;
}
.cards-wrapper .btn:hover::before {
  height: 440%;
}
.cards-wrapper .cards-container {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/world.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.cards-wrapper .cards-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
  z-index: 10;
}
.cards-wrapper .cards-container .cards {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 11;
}
.cards-wrapper .cards-container .cards .card {
  margin: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border: 4px solid white;
}
.cards-wrapper .cards-container .cards .card .title {
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin: 0px 0px 20px 0px;
  font-size: 36px;
}
.cards-wrapper .cards-container .cards .card .title .sp {
  color: #ED7C36;
}
.cards-wrapper .cards-container .cards .card .container {
  margin: 0px 50px;
}
.cards-wrapper .cards-container .cards .card .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 2rem;
  text-align: left;
}
.cards-wrapper .cards-container .cards .card .paragraph .sp {
  color: #264B92;
}

/* Cards Section End */
/* Socials Section Start */
.socials-wrapper {
  text-align: center;
}
.socials-wrapper .social-starter {
  margin: 0px 0px 80px 0px;
}
.socials-wrapper .social-starter .starter {
  margin: 0px 0px 80px 0px;
}
.socials-wrapper .social-starter .starter .title {
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: bold;
  color: #264B92;
  margin: 0px 0px 20px 0px;
}
.socials-wrapper .social-starter .starter .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;
}
.socials-wrapper .social-starter .starter .paragraph .sp {
  color: #ED7C36;
}
.socials-wrapper .social-starter .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 40px 0px;
}
.socials-wrapper .social-starter .socials .social {
  margin: 0px 20px 0px 20px;
}
.socials-wrapper .social-starter .socials .social .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: black;
}
.socials-wrapper .social-starter .btn {
  position: relative;
  overflow: hidden;
  transition: 0.6s all ease;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #264B92;
  font-weight: 800;
  text-align: center;
  padding: 10px 55px 10px 55px;
  background-color: #ED7C36;
  border: none;
}
.socials-wrapper .social-starter .btn::before {
  content: "";
  background: #264B92;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.6s all ease;
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.socials-wrapper .social-starter .btn:hover {
  cursor: pointer;
  color: #ED7C36;
}
.socials-wrapper .social-starter .btn:hover::before {
  height: 440%;
}
.socials-wrapper .social-ender {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/virtual.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  flex-direction: row;
}
.socials-wrapper .social-ender::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
  z-index: 10;
}
.socials-wrapper .social-ender .social-container {
  display: flex;
  justify-content: center;
}
.socials-wrapper .social-ender .social-container .social-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 11;
}
.socials-wrapper .social-ender .social-container .social-info .info .paragraph-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  color: #ED7C36;
}
.socials-wrapper .social-ender .social-container .social-info .info .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: white;
}

/* Socials Section End */
/* Footer Start */
.footer-wrapper {
  margin: 80px 0px 80px 0px;
}
.footer-wrapper .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-wrapper .container div {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.footer-wrapper .container div .btn {
  position: relative;
  overflow: hidden;
  transition: 0.6s all ease;
  z-index: 1;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #264B92;
  font-weight: 800;
  text-align: center;
  padding: 10px 55px 10px 55px;
  background-color: #ED7C36;
  border: none;
}
.footer-wrapper .container div .btn::before {
  content: "";
  background: #264B92;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.6s all ease;
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.footer-wrapper .container div .btn:hover {
  cursor: pointer;
  color: #ED7C36;
}
.footer-wrapper .container div .btn:hover::before {
  height: 440%;
}
.footer-wrapper .footer-container {
  display: flex;
  flex-direction: row;
}
.footer-wrapper .footer-container .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: black;
  text-align: justify;
}

/* Footer End */
/* Disclaimer Start */
.disclaimer-wrapper {
  background-color: #264B92;
  padding: 40px 0px;
}
.disclaimer-wrapper .paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: white;
}

/* Disclaimer End *//*# sourceMappingURL=index.css.map */