/* Imports */
@import '../main.css';
@import '../scss/pallete/pallete';
@import '../scss/mixins/mixins';

/* Menu Start */
.menu {
  display: block;
  position: relative;
  height: 100vh;
  z-index: 9;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url(../../images/bg.svg);
  position: absolute;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 90%;
  }
}

.menu-flex {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  & .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    & .title-logo {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 36px;
      color: $blue;
    }
    & .subtitle-logo {
      font-family: 'Playfair Display', serif;
      margin-top: 10px;
      font-weight: medium;
      font-size: 12px;
      color: $orange;
    }
  }
}

.list {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  & .list-items {
    display: flex;
    flex-direction: row;
    & .item {
      margin-left: 10px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: medium;
      font-size: 24px;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        @include margin(0px, 12.5px, 0px, 12.5px);
        position: absolute;
        z-index: 11;
        transform: translateY(5px);
        border-radius: 50%;
        background-color: $orange;
      }
      &:last-of-type:after {
        display: none;
      }
      & a {
        margin-left: 25px;
        color: $white;
      }
    }
  }
}

.welcome {
  @include margin(80px, 0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .title {
    @include title($white);
    @include margin(0px, 0px, 80px, 0px);
    &::after {
      content: '';
      position: absolute;
      z-index: 11;
      width: 250px;
      height: 4px;
      background-color: $orange;
      transform: translateX(-333px);
      @include margin(70px, 0px, 0px, 0px);
    }
  }
  & .paragraph {
    @include paragraph(26px, $white, medium);
    @include margin(0px, 0px, 80px, 0px);
  }
  & .btn {
    @include btn(18px, $white, $blue, 10px, 15px, 10px, 15px, 800);
  }
}

.pg {
  display: flex;
  width: 50%;
}

/* Menu end */

/* Cards Section Start */

.cards-wrapper {
  @include margin(80px, 0px, 80px, 0px);
  text-align: center;

  & .card-starter {
    @include margin(0px, 0px, 80px, 0px);
  }

  & .title {
    @include title($blue);
    @include margin(0px, 0px, 10px, 0px);
  }

  & .paragraph {
    @include paragraph(18px, $black, 600);
  }
  & .btn {
    @include btn(18px, $blue, $orange, 10px, 55px, 10px, 55px, 800);
    @include margin(50px, 0px, 0px, 0px);
  }

  /* Card */
  & .cards-container {
    @include parallax('../../images/world.svg', $black);
    & .cards {
      display: flex;
      flex-direction: row;
      position: absolute;
      z-index: 11;

      & .card {
        @include margin(0px, 10px, 0px, 10px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 300px;
        border: 4px solid $white;
        & .title {
          @include title($white);
          @include margin(0px, 0px, 20px, 0px);
          font-size: 36px;

          & .sp {
            color: $orange;
          }
        }
        & .container {
          margin: 0px 50px;
        }
        & .paragraph {
          @include paragraph(25px, $white, 700);
          text-align: left;

          & .sp {
            color: $blue;
          }
        }
      }
    }
  }
}

/* Cards Section End */

/* Socials Section Start */

.socials-wrapper {
  text-align: center;
  & .social-starter {
    @include margin(0px, 0px, 80px, 0px);

    & .starter {
      @include margin(0px, 0px, 80px, 0px);
      & .title {
        @include title($blue);
        @include margin(0px, 0px, 20px, 0px);
      }

      & .paragraph {
        @include paragraph(18px, $black, 600);

        & .sp {
          color: $orange;
        }
      }
    }

    & .socials {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include margin(0px, 0px, 40px, 0px);

      & .social {
        @include margin(0px, 20px, 0px, 20px);

        & .paragraph {
          @include paragraph(26px, $black, 600);
        }
      }
    }
    & .btn {
      @include btn(18px, $blue, $orange, 10px, 55px, 10px, 55px, 800);
    }
  }
  & .social-ender {
    @include parallax('../../images/virtual.svg', $black);
    flex-direction: row;
  }
}

/* Socials Section End */
