/* Imports */
@import '../main.css';
@import '../scss/pallete/pallete';
@import '../scss/mixins/mixins';
@import '../scss/animation/animations';

/* Menu Start */
.menu {
  @include menu(
    100vh,
    $blue,
    $orange,
    $black,
    $orange,
    $white,
    $orange,
    '../../images/bg.svg'
  );
}

.welcome {
  @include margin(80px, 0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .title {
    @include title($white);
    @include margin(0px, 0px, 80px, 0px);
    &::after {
      content: '';
      position: absolute;
      z-index: 11;
      width: 250px;
      height: 4px;
      background-color: $orange;
      transform: translateX(-333px);
      @include margin(70px, 0px, 0px, 0px);
    }
  }
  & .paragraph {
    @include paragraph(26px, $white, medium);
    @include margin(0px, 0px, 80px, 0px);
  }
  & .btn {
    @include btn(18px, $white, $blue, 10px, 15px, 10px, 15px, 800, -45deg);
  }
}

.pg {
  display: flex;
  width: 50%;
}

/* Menu end */

/* Cards Section Start */

.cards-wrapper {
  @include margin(80px, 0px, 80px, 0px);
  text-align: center;

  & .card-starter {
    @include margin(0px, 0px, 80px, 0px);
  }

  & .title {
    @include title($blue);
    @include margin(0px, 0px, 10px, 0px);
  }

  & .paragraph {
    @include paragraph(18px, $black, 600);
  }
  & .btn {
    @include btn(18px, $blue, $orange, 10px, 55px, 10px, 55px, 800, 45deg);
    @include margin(50px, 0px, 0px, 0px);
  }

  /* Card */
  & .cards-container {
    @include parallax('../../images/world.svg', $black);
    & .cards {
      display: flex;
      flex-direction: row;
      position: absolute;
      z-index: 11;

      & .card {
        @include margin(0px, 10px, 0px, 10px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 300px;
        border: 4px solid $white;
        & .title {
          @include title($white);
          @include margin(0px, 0px, 20px, 0px);
          font-size: 36px;

          & .sp {
            color: $orange;
          }
        }
        & .container {
          margin: 0px 50px;
        }
        & .paragraph {
          @include paragraph(25px, $white, 700);
          line-height: 2rem;
          text-align: left;

          & .sp {
            color: $blue;
          }
        }
      }
    }
  }
}

/* Cards Section End */

/* Socials Section Start */

.socials-wrapper {
  text-align: center;
  & .social-starter {
    @include margin(0px, 0px, 80px, 0px);

    & .starter {
      @include margin(0px, 0px, 80px, 0px);
      & .title {
        @include title($blue);
        @include margin(0px, 0px, 20px, 0px);
      }

      & .paragraph {
        @include paragraph(18px, $black, 600);

        & .sp {
          color: $orange;
        }
      }
    }

    & .socials {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include margin(0px, 0px, 40px, 0px);

      & .social {
        @include margin(0px, 20px, 0px, 20px);

        & .paragraph {
          @include paragraph(26px, $black, 600);
        }
      }
    }
    & .btn {
      @include btn(18px, $blue, $orange, 10px, 55px, 10px, 55px, 800, -45deg);
    }
  }
  & .social-ender {
    @include parallax('../../images/virtual.svg', $black);
    flex-direction: row;

    & .social-container {
      display: flex;
      justify-content: center;

      & .social-info {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        z-index: 11;

        & .info {
          & .paragraph-title {
            @include paragraph(56px, $orange, 700);
          }

          & .paragraph {
            @include paragraph(26px, $white, 700);
          }
        }
      }
    }
  }
}

/* Socials Section End */

/* Footer Start */

.footer-wrapper {
  @include margin(80px, 0px, 80px, 0px);
  & .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & div {
      @include margin(40px, 0px, 0px, 0px);
      display: flex;
      align-items: center;
      justify-content: center;
      & .btn {
        @include btn(18px, $blue, $orange, 10px, 55px, 10px, 55px, 800, 45deg);
      }
    }
  }
  & .footer-container {
    display: flex;
    flex-direction: row;

    & .paragraph {
      @include paragraph(30px, $black, 600);
      text-align: justify;
    }
  }
}

/* Footer End */

/* Disclaimer Start */

.disclaimer-wrapper {
  @include disclaimer();
}

/* Disclaimer End */
